\ProvidesFile{xauatthesis-fonts.cfg}
  [2026/05/06 v0.2 Cross-platform font configuration for XAUAT thesis]

\RequirePackage{iftex}
\ifXeTeX\else
  \PackageError{xauatthesis-fonts}
    {xauatthesis currently requires XeLaTeX}
    {Compile with xelatex so that fontspec and xeCJK can load system fonts.}
\fi

\RequirePackage{fontspec}
\RequirePackage{xeCJK}

\makeatletter

\defaultfontfeatures{Ligatures=TeX}

\providecommand\xauat@system{auto}
\providecommand\xauat@fontset{auto}
\providecommand\xauat@font{auto}
\providecommand\xauat@cjk@font{auto}
\providecommand\xauat@windows@font@dir{C:/Windows/Fonts}
\providecommand\xauat@math@font{auto}
\providecommand\xauat@math@style{GB}

\newcommand\xauat@ifstrequal[4]{%
  \begingroup
    \edef\xauat@tmpa{#1}%
    \edef\xauat@tmpb{#2}%
    \ifx\xauat@tmpa\xauat@tmpb
      \endgroup #3%
    \else
      \endgroup #4%
    \fi
}
\newcommand\xauat@setoption[2]{\expandafter\def\csname xauat@#1\endcsname{#2}}
\newcommand\xauat@font@warning[1]{\PackageWarning{xauatthesis-fonts}{#1}}
\newcommand\xauat@font@info[1]{\PackageInfo{xauatthesis-fonts}{#1}}

\newcommand\xauat@detect@system{%
  \xauat@ifstrequal{\xauat@system}{auto}{%
    \IfFileExists{/System/Library/Fonts/Menlo.ttc}{%
      \xauat@setoption{system}{mac}%
    }{%
      \IfFileExists{/dev/null}{%
        \IfFileExists{null:}{%
          \xauat@setoption{system}{windows}%
        }{%
          \xauat@setoption{system}{unix}%
        }%
      }{%
        \xauat@setoption{system}{windows}%
      }%
    }%
  }{}%
  \xauat@font@info{Detected system: \xauat@system}%
}

\newcommand\xauat@detect@fontset{%
  \xauat@ifstrequal{\xauat@fontset}{auto}{%
    \xauat@ifstrequal{\xauat@system}{windows}{%
      \xauat@setoption{fontset}{windows}%
    }{%
      \IfFontExistsTF{SimSun}{%
        \xauat@setoption{fontset}{windows}%
      }{%
        \IfFileExists{\xauat@windows@font@dir/Simsun.ttc}{%
          \xauat@setoption{fontset}{windows}%
          \xauat@setoption{cjk@font}{windows-local}%
        }{%
          \xauat@ifstrequal{\xauat@system}{mac}{%
            \xauat@setoption{fontset}{mac}%
          }{%
            \IfFontExistsTF{Noto Serif CJK SC}{%
              \xauat@setoption{fontset}{noto}%
            }{%
              \xauat@setoption{fontset}{fandol}%
            }%
          }%
        }%
      }%
    }%
  }{}%
  \xauat@font@info{Detected fontset: \xauat@fontset}%
}

\newcommand\xauat@detect@latin@font{%
  \xauat@ifstrequal{\xauat@font}{auto}{%
    \xauat@ifstrequal{\xauat@fontset}{none}{%
      \xauat@setoption{font}{none}%
    }{%
      \xauat@ifstrequal{\xauat@fontset}{windows}{%
        \xauat@setoption{font}{times}%
      }{%
        \xauat@ifstrequal{\xauat@fontset}{mac}{%
          \xauat@setoption{font}{times}%
        }{%
          \xauat@setoption{font}{termes}%
        }%
      }%
    }%
  }{}%
}

\newcommand\xauat@detect@cjk@font{%
  \xauat@ifstrequal{\xauat@cjk@font}{auto}{%
    \xauat@ifstrequal{\xauat@fontset}{none}{%
      \xauat@setoption{cjk@font}{none}%
    }{%
      \xauat@ifstrequal{\xauat@fontset}{windows}{%
        \IfFontExistsTF{SimSun}{%
          \xauat@setoption{cjk@font}{windows}%
        }{%
          \IfFileExists{\xauat@windows@font@dir/Simsun.ttc}{%
            \xauat@setoption{cjk@font}{windows-local}%
          }{%
            \xauat@font@warning{Cannot find SimSun; falling back to Fandol CJK fonts}%
            \xauat@setoption{cjk@font}{fandol}%
          }%
        }%
      }{%
        \xauat@ifstrequal{\xauat@fontset}{mac}{%
          \xauat@setoption{cjk@font}{mac}%
        }{%
          \xauat@ifstrequal{\xauat@fontset}{noto}{%
            \xauat@setoption{cjk@font}{noto}%
          }{%
            \xauat@setoption{cjk@font}{fandol}%
          }%
        }%
      }%
    }%
  }{}%
  \xauat@font@info{Detected CJK font: \xauat@cjk@font}%
}

\newcommand\xauat@detect@math@font{%
  \xauat@ifstrequal{\xauat@math@font}{auto}{%
    \IfFontExistsTF{XITSMath-Regular.otf}{%
      \xauat@setoption{math@font}{xits}%
    }{%
      \IfFontExistsTF{xits-math.otf}{%
        \xauat@setoption{math@font}{xits}%
      }{%
        \IfFontExistsTF{STIXTwoMath-Regular.otf}{%
          \xauat@setoption{math@font}{stix}%
        }{%
          \IfFontExistsTF{LibertinusMath-Regular.otf}{%
            \xauat@setoption{math@font}{libertinus}%
          }{%
            \xauat@setoption{math@font}{lm}%
          }%
        }%
      }%
    }%
  }{}%
  \xauat@font@info{Detected math font: \xauat@math@font}%
}

\newcommand\xauat@set@font@none{}
\newcommand\xauat@set@font@times{%
  \IfFontExistsTF{Times New Roman}{%
    \setmainfont{Times New Roman}%
    \IfFontExistsTF{Arial}{\setsansfont{Arial}}{\xauat@set@texgyre@sans}%
    \IfFontExistsTF{Courier New}{%
      \setmonofont{Courier New}[Scale=MatchLowercase]%
    }{%
      \xauat@set@texgyre@mono
    }%
  }{%
    \xauat@font@warning{Cannot find Times New Roman; falling back to TeX Gyre Termes}%
    \xauat@set@font@termes
  }%
}
\newcommand\xauat@set@font@termes{%
  \IfFontExistsTF{TeX Gyre Termes}{%
    \setmainfont{TeX Gyre Termes}%
  }{%
    \setmainfont{texgyretermes}[
      Extension=.otf,
      UprightFont=*-regular,
      BoldFont=*-bold,
      ItalicFont=*-italic,
      BoldItalicFont=*-bolditalic
    ]%
  }%
  \xauat@set@texgyre@sans
  \xauat@set@texgyre@mono
}
\newcommand\xauat@set@texgyre@sans{%
  \IfFontExistsTF{TeX Gyre Heros}{%
    \setsansfont{TeX Gyre Heros}%
  }{%
    \setsansfont{texgyreheros}[
      Extension=.otf,
      UprightFont=*-regular,
      BoldFont=*-bold,
      ItalicFont=*-italic,
      BoldItalicFont=*-bolditalic
    ]%
  }%
}
\newcommand\xauat@set@texgyre@mono{%
  \IfFontExistsTF{TeX Gyre Cursor}{%
    \setmonofont{TeX Gyre Cursor}[Scale=MatchLowercase,Ligatures=CommonOff]%
  }{%
    \setmonofont{texgyrecursor}[
      Extension=.otf,
      UprightFont=*-regular,
      BoldFont=*-bold,
      ItalicFont=*-italic,
      BoldItalicFont=*-bolditalic,
      Scale=MatchLowercase,
      Ligatures=CommonOff
    ]%
  }%
}

\newcommand\xauat@set@cjk@font@none{}
\newcommand\xauat@set@cjk@font@windows{%
  \defaultCJKfontfeatures{}%
  \IfFontExistsTF{KaiTi}{%
    \setCJKmainfont{SimSun}[AutoFakeBold=3,ItalicFont=KaiTi]%
    \setCJKfamilyfont{zhsong}{SimSun}[AutoFakeBold=3,ItalicFont=KaiTi]%
  }{%
    \setCJKmainfont{SimSun}[AutoFakeBold=3]%
    \setCJKfamilyfont{zhsong}{SimSun}[AutoFakeBold=3]%
  }%
  \IfFontExistsTF{SimHei}{%
    \setCJKsansfont{SimHei}[AutoFakeBold=3]%
    \setCJKfamilyfont{zhhei}{SimHei}[AutoFakeBold=3]%
  }{%
    \xauat@font@warning{Cannot find SimHei; using SimSun for \string\heiti}%
    \setCJKsansfont{SimSun}[AutoFakeBold=3]%
    \setCJKfamilyfont{zhhei}{SimSun}[AutoFakeBold=3]%
  }%
  \IfFontExistsTF{FangSong}{%
    \setCJKmonofont{FangSong}%
    \setCJKfamilyfont{zhfs}{FangSong}%
  }{%
    \xauat@font@warning{Cannot find FangSong; using SimSun for \string\fangsong}%
    \setCJKmonofont{SimSun}[AutoFakeBold=3]%
    \setCJKfamilyfont{zhfs}{SimSun}[AutoFakeBold=3]%
  }%
  \IfFontExistsTF{KaiTi}{%
    \setCJKfamilyfont{zhkai}{KaiTi}%
  }{%
    \xauat@font@warning{Cannot find KaiTi; using SimSun for \string\kaishu}%
    \setCJKfamilyfont{zhkai}{SimSun}[AutoFakeBold=3]%
  }%
}
\@namedef{xauat@set@cjk@font@windows-local}{%
  \defaultCJKfontfeatures{}%
  \IfFileExists{\xauat@windows@font@dir/Kaiti.ttf}{%
    \setCJKmainfont{Simsun}[
      Path=\xauat@windows@font@dir/,
      Extension=.ttc,
      AutoFakeBold=3,
      ItalicFont=Kaiti,
      ItalicFeatures={Extension=.ttf}
    ]%
    \setCJKfamilyfont{zhkai}{Kaiti}[
      Path=\xauat@windows@font@dir/,
      Extension=.ttf
    ]%
  }{%
    \setCJKmainfont{Simsun}[
      Path=\xauat@windows@font@dir/,
      Extension=.ttc,
      AutoFakeBold=3,
      ItalicFont=Simkai,
      ItalicFeatures={Extension=.ttf}
    ]%
    \setCJKfamilyfont{zhkai}{Simkai}[
      Path=\xauat@windows@font@dir/,
      Extension=.ttf
    ]%
  }%
  \setCJKsansfont{Simhei}[
    Path=\xauat@windows@font@dir/,
    Extension=.ttf,
    AutoFakeBold=3
  ]%
  \setCJKmonofont{Simfang}[
    Path=\xauat@windows@font@dir/,
    Extension=.ttf
  ]%
  \setCJKfamilyfont{zhsong}{Simsun}[
    Path=\xauat@windows@font@dir/,
    Extension=.ttc,
    AutoFakeBold=3
  ]%
  \setCJKfamilyfont{zhhei}{Simhei}[
    Path=\xauat@windows@font@dir/,
    Extension=.ttf,
    AutoFakeBold=3
  ]%
  \setCJKfamilyfont{zhfs}{Simfang}[
    Path=\xauat@windows@font@dir/,
    Extension=.ttf
  ]%
}
\newcommand\xauat@set@cjk@font@mac{%
  \defaultCJKfontfeatures{}%
  \IfFontExistsTF{Songti SC}{%
    \setCJKmainfont{Songti SC}[
      UprightFont=* Light,
      BoldFont=* Bold,
      ItalicFont=Kaiti SC Regular,
      BoldItalicFont=Kaiti SC Bold
    ]%
    \setCJKsansfont{Heiti SC}[
      UprightFont=* Light,
      BoldFont=* Medium
    ]%
    \setCJKmonofont{STFangsong}%
    \setCJKfamilyfont{zhsong}{Songti SC}[
      UprightFont=* Light,
      BoldFont=* Bold
    ]%
    \setCJKfamilyfont{zhhei}{Heiti SC}[
      UprightFont=* Light,
      BoldFont=* Medium
    ]%
    \setCJKfamilyfont{zhkai}{Kaiti SC}[
      UprightFont=* Regular,
      BoldFont=* Bold
    ]%
    \setCJKfamilyfont{zhfs}{STFangsong}%
  }{%
    \xauat@font@warning{Cannot find Songti SC; falling back to Fandol CJK fonts}%
    \xauat@set@cjk@font@fandol
  }%
}
\newcommand\xauat@set@cjk@font@noto{%
  \defaultCJKfontfeatures{}%
  \IfFontExistsTF{Noto Serif CJK SC}{%
    \setCJKmainfont{Noto Serif CJK SC}[
      BoldFont=* Bold,
      ItalicFont=FandolKai-Regular,
      ItalicFeatures={Extension=.otf},
      Script=CJK
    ]%
    \setCJKsansfont{Noto Sans CJK SC}[BoldFont=* Medium,Script=CJK]%
    \IfFontExistsTF{Noto Sans Mono CJK SC}{%
      \setCJKmonofont{Noto Sans Mono CJK SC}[Script=CJK]%
    }{%
      \setCJKmonofont{Noto Sans CJK SC}[Script=CJK]%
    }%
    \setCJKfamilyfont{zhsong}{Noto Serif CJK SC}[BoldFont=* Bold,Script=CJK]%
    \setCJKfamilyfont{zhhei}{Noto Sans CJK SC}[BoldFont=* Medium,Script=CJK]%
    \setCJKfamilyfont{zhkai}{FandolKai}[
      Extension=.otf,
      UprightFont=*-Regular
    ]%
    \setCJKfamilyfont{zhfs}{FandolFang}[
      Extension=.otf,
      UprightFont=*-Regular
    ]%
  }{%
    \xauat@font@warning{Cannot find Noto Serif CJK SC; falling back to Fandol CJK fonts}%
    \xauat@set@cjk@font@fandol
  }%
}
\newcommand\xauat@set@cjk@font@fandol{%
  \defaultCJKfontfeatures{}%
  \setCJKmainfont{FandolSong}[
    Extension=.otf,
    UprightFont=*-Regular,
    BoldFont=*-Bold,
    ItalicFont=FandolKai-Regular,
    ItalicFeatures={Extension=.otf}
  ]%
  \setCJKsansfont{FandolHei}[
    Extension=.otf,
    UprightFont=*-Regular,
    BoldFont=*-Bold
  ]%
  \setCJKmonofont{FandolFang}[
    Extension=.otf,
    UprightFont=*-Regular
  ]%
  \setCJKfamilyfont{zhsong}{FandolSong}[
    Extension=.otf,
    UprightFont=*-Regular,
    BoldFont=*-Bold,
    ItalicFont=FandolKai-Regular,
    ItalicFeatures={Extension=.otf}
  ]%
  \setCJKfamilyfont{zhhei}{FandolHei}[
    Extension=.otf,
    UprightFont=*-Regular,
    BoldFont=*-Bold
  ]%
  \setCJKfamilyfont{zhkai}{FandolKai}[
    Extension=.otf,
    UprightFont=*-Regular
  ]%
  \setCJKfamilyfont{zhfs}{FandolFang}[
    Extension=.otf,
    UprightFont=*-Regular
  ]%
}

\newcommand\xauat@set@math@font@none{}
\newcommand\xauat@load@unicode@math{%
  \@ifpackageloaded{unicode-math}{}{\RequirePackage{unicode-math}}%
  \xauat@set@math@style
}
\newcommand\xauat@set@math@style{%
  \xauat@ifstrequal{\xauat@math@style}{TeX}{%
    \unimathsetup{math-style=TeX,bold-style=TeX}%
  }{%
    \unimathsetup{math-style=ISO,bold-style=ISO,partial=upright,nabla=upright}%
  }%
}
\newcommand\xauat@set@math@font@xits{%
  \xauat@load@unicode@math
  \IfFontExistsTF{XITSMath-Regular.otf}{%
    \setmathfont{XITSMath-Regular.otf}%
  }{%
    \IfFontExistsTF{xits-math.otf}{%
      \setmathfont{xits-math.otf}%
    }{%
      \xauat@font@warning{Cannot find XITS Math; falling back to Latin Modern Math}%
      \xauat@set@math@font@lm
    }%
  }%
}
\newcommand\xauat@set@math@font@stix{%
  \xauat@load@unicode@math
  \IfFontExistsTF{STIXTwoMath-Regular.otf}{%
    \setmathfont{STIXTwoMath-Regular.otf}%
  }{%
    \IfFontExistsTF{STIX Two Math}{%
      \setmathfont{STIX Two Math}%
    }{%
      \xauat@font@warning{Cannot find STIX Two Math; falling back to Latin Modern Math}%
      \xauat@set@math@font@lm
    }%
  }%
}
\newcommand\xauat@set@math@font@libertinus{%
  \xauat@load@unicode@math
  \IfFontExistsTF{LibertinusMath-Regular.otf}{%
    \setmathfont{LibertinusMath-Regular.otf}%
  }{%
    \IfFontExistsTF{libertinusmath-regular.otf}{%
      \setmathfont{libertinusmath-regular.otf}%
    }{%
      \xauat@font@warning{Cannot find Libertinus Math; falling back to Latin Modern Math}%
      \xauat@set@math@font@lm
    }%
  }%
}
\newcommand\xauat@set@math@font@lm{%
  \xauat@load@unicode@math
  \IfFontExistsTF{latinmodern-math.otf}{%
    \setmathfont{latinmodern-math.otf}%
  }{%
    \setmathfont{Latin Modern Math}%
  }%
}

\xauat@detect@system
\xauat@detect@fontset
\xauat@detect@latin@font
\xauat@detect@cjk@font
\xauat@detect@math@font

\@nameuse{xauat@set@font@\xauat@font}
\@nameuse{xauat@set@cjk@font@\xauat@cjk@font}
\@nameuse{xauat@set@math@font@\xauat@math@font}

\IfFontExistsTF{SimSun}{%
  \newcommand{\xauatsongslant}{\CJKfontspec[AutoFakeBold=3,FakeSlant=0.25]{SimSun}}%
}{%
  \IfFontExistsTF{Songti SC}{%
    \newcommand{\xauatsongslant}{%
      \CJKfontspec[
        UprightFont=* Light,
        BoldFont=* Bold,
        FakeSlant=0.25
      ]{Songti SC}%
    }%
  }{%
    \IfFontExistsTF{Noto Serif CJK SC}{%
      \newcommand{\xauatsongslant}{%
        \CJKfontspec[
          BoldFont=* Bold,
          FakeSlant=0.25,
          Script=CJK
        ]{Noto Serif CJK SC}%
      }%
    }{%
      \newcommand{\xauatsongslant}{%
        \CJKfontspec[
          Extension=.otf,
          UprightFont=*-Regular,
          BoldFont=*-Bold,
          FakeSlant=0.25
        ]{FandolSong}%
      }%
    }%
  }%
}%

\providecommand{\songti}{\CJKfamily{zhsong}}
\providecommand{\heiti}{\CJKfamily{zhhei}}
\providecommand{\kaishu}{\CJKfamily{zhkai}}
\providecommand{\fangsong}{\CJKfamily{zhfs}}
\providecommand{\xauatcovertitlefont}{\songti}
\newread\xauat@font@read
\newcommand{\xauat@if@direct@file@exists}[3]{%
  \openin\xauat@font@read=#1\relax
  \ifeof\xauat@font@read
    \closein\xauat@font@read
    #3%
  \else
    \closein\xauat@font@read
    #2%
  \fi
}
\newcommand{\xauat@set@cover@title@font}[1]{%
  \setCJKfamilyfont{xauatcoverxiaobiao}[Path={#1}]{FZXiaoBiaoSongJian.ttf}%
  \renewcommand{\xauatcovertitlefont}{\CJKfamily{xauatcoverxiaobiao}}%
}

\xauat@if@direct@file@exists{./assets/fonts/FZXiaoBiaoSongJian.ttf}{%
  \xauat@set@cover@title@font{./assets/fonts/}%
}{%
  \xauat@if@direct@file@exists{../../assets/fonts/FZXiaoBiaoSongJian.ttf}{%
    \xauat@set@cover@title@font{../../assets/fonts/}%
  }{%
    \xauat@if@direct@file@exists{../assets/fonts/FZXiaoBiaoSongJian.ttf}{%
      \xauat@set@cover@title@font{../assets/fonts/}%
    }{%
      \xauat@if@direct@file@exists{../../../assets/fonts/FZXiaoBiaoSongJian.ttf}{%
        \xauat@set@cover@title@font{../../../assets/fonts/}%
      }{%
        \xauat@font@warning{Cannot find FZXiaoBiaoSongJian.ttf; using Songti for Chinese cover title}%
      }%
    }%
  }%
}%

\makeatother

\endinput
